.loading {
	width: 100%;
	font-size: 16px;
	text-align: center;
}

.loading-inline .loading-indocator,
.loading-inline .loading-text {
	display: inline;
}

.loading-inline .loading-text {
	margin-left: 6px;
}
